<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    
    
    <h1>This is home page of practice 1/h1>
    <h2>Author : {{author}}</h2>
    <h2>Date : {{date}}</h2>
    <h2>List : {{lst}}</h2>
    <h2>Age : {{age}}</h2>



    <!--  Conditional Statement  -->

    {% if age >= 20 %}
      <h4> You will get driving licence</h4>

    {% elif age >= 10 and age <= 19 %}
      <h4> You will get learning licence</h4>

    {% else %}
      <h4> You are not eligible for driving licence</h4>

    {% endif %}
    

    <!-- For Loop -->
    <h2>Looping through list</h2>
    {% for i in course %}
    <h3>{{i.id}}</h3>
    {% endfor %}

    <h2>course full details</h2>
    <h2>ID   Name    Duration</h2>
    {% for i in course %}
    <h3>{{i.id}}. {{i.name}} - {{i.duration}}</h3>
    {% endfor %}



    <!-- Template Filtering-->
    <h1>{{ lst | join:" - " }}</h1>
    <h1>{{ birth | date:"D d M Y" }}</h1>
    <h1>{{val | length}}</h1>
    <h1>{{"Python is Fun" | cut:" "}}</h1>
    <h1>{{'Happy Coding. Python is fun.' | truncatechars:6}}</h1>
    <h1>{{'Happy Coding. Python is fun.' | truncatewords:2}}</h1>
    <br><br><br><br><br>

    <h3>
        {{ days | join:" // " }} <br>
        {{ date_value | date:"SHORT_DATE_FORMAT" }} <br>
        {{ text | length }} <br>
        {{ text | cut:" " }} <br>
        {{ empty_string | default:"an empty string" }} <br>
        
    </h3>
    
    <br><br><br><br><br>


    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>