.box
{
    width : 100px;
    width: 100px;
    padding: 20px;
    border: 1px solid gray;
}

.box-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input
{
    
    padding: 10px;
    margin: 10px;
}

.user
{
    padding: 20px;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.user-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}